---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title" itemprop="name">
      <a href="{{ post.url }}" itemprop="url">
        {{ post.title }}
      </a>
    </h1>

    <time class="post-date" datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }} &bull; {% include read_time.html words=post.content %}</time> 

    <p class="post-excerpt" itemprop="description">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

{% include footer.html %}
