<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <!-- Need to figure out better way to display Logo -->
      <!-- <div class="logo" style='text-align: center;'>
        <amp-img src="{{ site.baseurl }}{{ site.logo }}" width="120" height="120" />
      </div> -->
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% for my_page in site.pages %}
        {% if my_page.title %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ my_page.url }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}

    </nav>
    
    {% include social-links.html %}

    
  </div>
</div>