// @import 'bourbon/bourbon';
@import 'hyde/hyde';
@import 'vendor/font_awesome/font-awesome';
@import 'custom';
@import 'posts/posts';

$grey-color:       #828282;

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

amp-img {
  // background-color: grey;
  background-color: white;
}
