/*
 * Site General Style
 * 
 */

 // inline li element
.social-links ul, .share-buttons ul {
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
  }
}

// emoji
img.emoji {
  display: inline-block;
  margin: initial;
  vertical-align: middle;
}

// no list style for li
ul.no-list-style li {
  list-style: none;
}

// flexbox
.flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex > * {
  flex: 1;
}

@media (max-width: 48em) {
  .flex {
    flex-direction: column;
  }
}

/*
 * Post General CSS
 * 
 */

// credit-author
.content .credit-author {
  margin-top: 0.5em;
  text-align: right;
  p.credit-word {
    font-size: 0.8em;
  }
}

// share on font
.share-buttons h6 {
  font-size: 1rem;
  margin: 0.5rem 0 0.4rem 0;
  text-transform: uppercase;
}

// .cp_embed_wrapper {
//   margin-top: 20px;
// }

/*
 * Footer
 *
 */

.site-footer {
  margin: 0 auto;
  padding: 48px 0;
  width: 100%;
  max-width: 700px;
  font-size: 12px;
  text-align: center;
  color: #999999;
  line-height: 17.6px;
}

footer .heart-icon {
  color: #f83e4b;
  text-shadow: 0 0 5px #fff, 0 0 10px #f83e4b;
}

