.about-avatar {
  // need to figure out a better way displaying it
  display: none;
  // text-align: center;
  // amp-img img {
  //   border-radius: 100%;
  // }
}

img.emoji {
  display: inline-block;
  margin: initial;
  vertical-align: middle;
}

.post .post-content .credit-author {
  text-align: right;
  p.credit-word {
    font-size: 16px;
  }
}

.cp_embed_wrapper {
  margin-top: 20px;
}